// Import Bootstrap Compass integration
@import "bootstrap-compass";
// Import custom Bootstrap variables
@import "bootstrap-variables";
// Import Bootstrap for Sass
@import "bootstrap";

body {
    width: 400px;
}

.thumbnail {
    border: none;
    .caption {
        padding-top: 0;
        h3 {
            text-align: center;
        }
    }
    .logo {
        width: 100px;
    }
}

.btn:focus, .btn.active:focus {
    outline: none;
}
